@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("//fonts.googleapis.com/css?family=Inter+Tight" );
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-container {
  display: flex;
  

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter+Tight", sans-serif;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .sidebar {
display: flex;
flex-direction: column;
font-weight: normal;
font-family: "Gabarito", sans-serif;
} */

.sidebar-icon {
  @apply relative flex items-center justify-center 
  h-12 w-12 mt-2 mb-2 mx-auto  
bg-gray-400 hover:bg-stone-400 dark:bg-stone-800 bg-opacity-20 
text-stone-200 hover:text-white
  hover:rounded-xl rounded-3xl
  transition-all duration-300 ease-linear
  cursor-pointer;
}

.sidebar-tooltip {
  @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
  text-stone-50 bg-stone-700 
  text-xs font-bold 
  transition-all duration-100 scale-0 origin-left;
}

.sidebar-hr {
  @apply bg-gray-200 dark:bg-gray-800 
  border border-gray-200 dark:border-gray-800 rounded-full
  mx-2;
}

.sidebar-footer {
  margin-top: auto;
  
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  transition: margin-left 0.3s ease-in-out;
  margin: 0 auto;
  padding: 0 20px;
  overflow:hidden;
}

.main-content.open {
  margin-left: 250px;
  max-height: 100vh;
  overflow-y: hidden;
}

.background-image {
  position:fixed;
  background-size:contain;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sidebar {
  position: fixed;
  transition: 0.3s;
  z-index: 10;
  padding-left: 10px;
}

@media only screen and (min-width: 763px) {
  .sidebar {
    left: 0;
    top: 0;
    bottom: auto;
    height: 100%;
  }
}

@media only screen and (max-width: 762px) {
  .sidebar {
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    top: auto;
  }
  .sidebar-icon {
    margin: 0 auto;
  }
  
  .sidebar-tooltip {
    position: absolute;
    transform: translateX(-50%);
    left: 0%;
    top: -50px;
    bottom: auto;
    margin-left: 0;
    transition: all 0.1s ease-in-out;
  }
}

.main-content {
  margin-left: 20px;
  margin-right: 20px;
}

.main-content.open {
  margin-left: 250px;
  margin-right: 20px;
}

/* Adjust styles for medium screens */
@media (max-width: 800px) {
  .sidebar {
      width: 20px;
  }

  .main-content {
      margin-left: 220px; /* Adjusted for the smaller sidebar */
  }
}

/* Adjust styles for small screens */
@media (max-width: 762px) {
  .sidebar {
      width:auto
  }

  .main-content {
      margin-left: 0;
      overflow: hidden;
  }

  .main-content.open {
      margin-left: 0;
  }

}